.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff; /* Ajuste a cor conforme necessário */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
}

.icone {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

.login-icon {
  width: 30px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-right: 10px;
}

.nav-drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95); /* Ajuste a cor e a opacidade conforme necessário */
  z-index: 1000; /* Certifique-se de que o menu esteja acima de outros elementos */
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.nav-drawer.open {
  display: flex;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links li a {
  text-decoration: none;
  color: #000; /* Ajuste a cor conforme necessário */
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

.close-icon {
  align-self: flex-end;
  cursor: pointer;
}

.divider {
  border-top: 1px solid #ff0000; /* Adjust color and style as needed */
  width: 100%; /* Optional: Set full width if desired */
}

/* Footer styles to be included within the nav-drawer for proper display */
.nav-drawer footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

.nav-drawer footer p {
  margin: 0;
}

.nav-drawer footer a {
  text-decoration: none;
  color: #000; /* Ajuste a cor conforme necessário */
}
